<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4">Time to start studying!</h1>
      <h2 class="text-center">Sign up for a new account</h2>
      <p class="text-center mb-4">
        Or
        <a href="<%= new_user_session_path %>">
          sign into your account
        </a>
      </p>
      <div class="card">
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group mb-4">
              <%= f.label :email, class: 'form-label' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-group mb-4">
              <%= f.label :password, class: 'form-label' %>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>

            <div class="form-check">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label :remember_me, class: "form-check-label" %>
            </div>

            <div class="form-group mt-3 mb-3">
              <%= f.submit "Sign in", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>